<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Twitter Clone Web App</h1>

    <h2>
      Hi, This is Hasan! I have created this web app from the curiosity to expand my skills on Ruby on Rails. </br>
      It has similar features as Twiiter. Feel free to play with it. Source code can be found on my <a href="https://github.com/hasan3d/TwitterClone/"> Github Account </a>
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("twitter_clone.png", alt: "Twiiter Clone Logo"), 'https://twitter-clone-h.herokuapp.com/' %>
<% end %>